<div class="view view-photo">

	<div class="area photo-title">

		<h2>{{#if photo.photo.title._content}}{{photo.photo.title._content}}{{else}}Untitled{{/if}} by You</h2>
	</div>

	<div class="photo-area">
		<img src="//c1.staticflickr.com/{{photo.photo.farm}}/{{photo.photo.server}}/{{photo.photo.id}}_{{photo.photo.secret}}.jpg">
	</div>

	<div class="area location-info-area">
		{{#if photo.photo.location}}
			<p><a href="http://woeid.rosselliot.co.nz/map/{{photo.photo.location.woeid}}" class="photo-place-action">This photo was taken in {{#each place}}{{_content}}{{#unless @last}},{{/unless}} {{/each}}</a></p>
		{{else}}
			<p>This photo has no location</p>
		{{/if}}
	</div>

	<div class="actions area">
		<button class="action" onclick="(function(){location.href='../'}());">All photos</button>
		<button class="action open-map" class="map-action">Open Map</button>
		<button class="action" onclick="(function(){location.href='//www.flickr.com/{{#if photo.photo.owner.path_alias}}{{photo.photo.owner.path_alias}}{{else}}{{photo.photo.owner.nsid}}{{/if}}/{{photo.photo.id}}'}());">Go to Flickr</button>
	</div>

</div>

<script>
(function() {

	"use strict";

	window.STPX = {};

	STPX.viewData = {
		"photo" : {{#json}}{{{photo.photo}}}{{/json}},
		"place" : ""
	};

}());
</script>
