<div class="view view-photo">

	<div class="area photo-title">
		<p><a href="/">< Your most recent photos</a></p>

		<h1>{{#if photo.photo.title._content}}{{photo.photo.title._content}}{{else}}Untitled{{/if}}</h1>
		<p>by You</p>
	</div>

	<div class="photo-area">
		<img src="//c1.staticflickr.com/{{photo.photo.farm}}/{{photo.photo.server}}/{{photo.photo.id}}_{{photo.photo.secret}}.jpg">
	</div>

	<div class="area location-info-area">
		{{#if photo.photo.location}}
			<p><a href="http://woeid.rosselliot.co.nz/map/{{photo.photo.location.woeid}}" class="photo-place-action">This photo was taken in {{#each place}}{{_content}} {{#unless @last}}/{{/unless}} {{/each}}</a></p>
		{{else}}
			<p>This photo has no location</p>
		{{/if}}
	</div>

</div>

<script>
(function() {

	"use strict";

	window.STPX = {};

	STPX.viewData = {
		"photo" : {
			"location" : {{#json}}{{{photo.photo.location}}}{{/json}}
		},
		"place" : ""
	};

}());
</script>
